
bin
obj

*.log
*.suo
*.user
/Coinbook/TeamViewerQS.exe
/Coinbook.CloudBackup.Plugin/packages/LiteDB.5.0.10
/Coinbook.CloudBackup.Plugin/packages/Microsoft.Bcl.1.1.10
/Coinbook.CloudBackup.Plugin
/Coinbook.CloudBackup.Pluginx/packages
/Coinbook.CreateDB
/Coinbook.Helper/packages
/Coinbook.Import/packages
/Coinbook.Konvert/packages/NLog.4.5.0
/Coinbook.Lokalisierung/tmpB31C.tmp.htm
/Coinbook.Lokalisierung/tmp29D0.tmp.htm
/Coinbook.ModulVerwaltung/packages
/Coinbook.ModulVerwaltung.Plugin/packages
/Coinbook.Reporting/packages
/CoinbookDatabase/plugins
/Daten/Datenverzeichnis/coinbook.mdb
/Daten/Treiber
/oledb/sqlite3.dll
/packages
/SAN.UI.DataGridView/GridViewExtensions.dll
/xCoinbookUpdate.ci
