<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources>
      <source name="FluentFTP">
        <listeners>
          <clear/>
          <add name="FluentLog"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="FluentLog" type="SAN.FTP.Logging.Log4NetTraceListener, YourApp" initializeData="FluentLog"/>
    </sharedListeners>
  </system.diagnostics>

</configuration>
