<?xml version="1.0" encoding="utf-8"?>
<Settings>
	<DataBase
		DatenbankTyp="MSAccess"
		Provider="Microsoft.ACE.OLEDB.12.0"
		DataSource1="coinbook 04.03.2016.mdb"
		DataSource="coinbook.mdb"
		Password ="7d8a431ef18dk"
		User="admin"		
  />

  <Datapath>c:\ProgramData\Coinbook</Datapath>

</Settings>